@import "styleguide";

body{
    @include body;
    
    box-sizing: border-box;
    @media screen and (min-width:1000.1px){
      padding-top: 150px;
    }//lg
    @media screen and (min-width:600.1px) and (max-width:1000px){
      padding-top: 150px;
    }//md
    @media screen and (max-width:600px){
      padding-top: 110px;
    }//sm
}

/* header */

header{ 
  position: absolute;
  z-index: 100;
  top:0;
  width:100%;
  &.active{
    position: fixed;
    
    @media screen and (min-width:600.1px){
      top:-60px;
    }//lg
    @media screen and (max-width:600px){
      top: -50px;
      
    }//md
  }


  .headertop{
    >a{
      @include en;
        display: block; 
        width: 100%; 
        background-color: #231f20;
        color: white;
        text-align: center;
        font-size: 1.3em;
        font-weight: 600;
        @media screen and (min-width:600.1px){
          height: 60px;
          line-height: 65px;
        }//lg
        @media screen and (max-width:600px){
          height: 50px;
          line-height: 55px;
        }//md
    }//headertop>a
  }//headertop



  .headerbottom{
    @include en;
    @include pd2(75px, 2.5%);
    box-sizing: border-box;
    width: 100%;
    
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    @media screen and (min-width:600.1px){
      height: 90px;
    }//lg
    @media screen and (max-width:600px){
      height: 60px;
    }//md
    h1{
      float: left;
      @media screen and (min-width:600.1px){
        margin-top: 27px;
      }//lg
      @media screen and (max-width:600px){
        margin-top: 10px;
        
      }//md
      >img{
        display: block;
      }//h1>img
    }//h1
    
    .mbnav{
      float: right;
      color: $tcolor5;
      >ul{
        display: inline-block;
        margin-right: 60px;
        @media screen and (max-width:1000px){
          display: none;
        }
        >li{
          display: inline-block;
          >a{
            display: block;
            padding: 0 17px;
            height: 90px;
            line-height: 90px;
            letter-spacing: 1px;
          }//mbnav>ul>li>a
        }//mbnav>ul>li
      }//mbnav>ul

      .btn_bar{
        position: relative;
        display: inline-block;
        width: 50px;
        height: 50px;
        font-size: 1.2em;
        @media screen and (min-width:600.1px){
          margin-top: 20px;
        }//lg
        @media screen and (max-width:600px){
          margin-top: 5px;
          
        }//md
        >i{
          position: relative;
          display: block;
        }//i
        &::before{
          @include abslt(0, 50%, 0, -50%);
          content: "";
          display: block;
          width: 0;
          height: 50px;
          background-color: $color3;
          transition: all 0.4s;
        }//btn_bar::before
        &:hover{
          &::before{
            width: 50px;
          }//btn_bar:hover::before
          i{
            color: white;
          }//btn_bar:hover i
        }//btn_bar:hover
      }//btn_bar
    }//mbnav
  }//headerbottom

  .gnb{
    @include en;
    z-index: 101;
    /* border: 1px solid red; */
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    background-color: $color4;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
    @media screen and (min-width:1000.1px){
      padding: 20px 40px;
    }
    @media screen and (min-width:600.1px) and (max-width:1000px){
      padding: 20px 2.5%;
    }
    @media screen and (max-width:600px){
      box-sizing: border-box;
      width: 100%;
      padding: 10px 2.5%;
      .btn_close{
        float: right;
      }
    }
    &.active{
      transform: translateX(0);
      opacity: 1;
    }
    >.memberwrap{
      width: 100%;
      /* border: 1px solid green; */
      @media screen and (max-width:600px){
        @include clearfix;
        margin: 0 auto;
      }//md
      .member{
        display: inline-block;
        /* border: 1px solid black; */
        @media screen and (min-width:600.1px){
          float: left;
          margin-right: 60px;
          margin-top: 5px;
          >li>a{
            padding: 0 13px;
          }
        }//lg
        @media screen and (min-width:499.1px) and (max-width:600px){
          margin-left: 22%;
         
          >li{
            >a{
              padding: 0 20px;  
              margin-left: 5px;
            }
          }
        }//md 
        @media screen and (min-width:380.1px) and (max-width:499px){
          margin-left: 16%;
         
          >li{
            >a{
              padding: 0 20px;  
              margin-left: 5px;
            }
          }
        }//md 
        @media screen and (min-width:350.1px) and (max-width:380px){
          margin-left: 19%;
          
          >li{
            >a{
              padding: 0 13px;  
              margin-left: 3px;
            }
          }
        }//md
        @media screen and (min-width:330.1px) and (max-width:350px){
          margin-left: 12%;
          
          >li{
            >a{
              padding: 0 20px;  
              margin-left: 5px;
            }
          }
        }//md
        @media screen and (max-width:330px){ 
          margin-left: 15%;
          >li{
            >a{
              padding: 0 10px;
              margin-left: 5px;
            }
          }
        }//sm
        >li{
          display: inline-block;
          /* border: 1px solid blue; */
          >a{
            /* border: 1px solid red; */
            display: block;
            height: 40px;
            line-height: 40px;
            letter-spacing: 1px;
          }//member>li>a
        }//member>li
      }//gnb>div>member
      
      .btn_close{
        position: relative;
        display: inline-block;
        width: 50px;
        height: 50px;
        font-size: 1.2em;
        margin-right: 33px;
        @media screen and (max-width:1000px){
          margin-right: 0;
        }
        @media screen and (max-width:600px){
            height: 40px;
        }
        &::before{
          @include abslt(0, 50%, 0, -50%);
          content: "";
          display: block;
          width: 0;
          height: 50px;
          background-color: $color3;
          transition: all 0.4s;
        }//gnb>memberwrap>btn_close::before
        &:hover{
          &::before{
            width: 50px;
          }//gnb>memberwrap>btn_close:hover::before
          i{
            color: white;
          }//gnb>memberwrap>btn_close:hover i
        }//gnb>memberwrap>btn_close:hover
        >i{
          position: relative;
          display: block;
        }//gnb>memberwrap>btn_close>i
      }//gnb>memberwrap>btn_close

    }//gnb>memberwrap

    >.menu{
      /* border: 1px solid red; */
      margin-top: 50px;
      @media screen and (max-width:600px){
          text-align: center;
      }//md
      >li{
        /* &:nth-child(1){display: none;} */
        /* &:nth-child(2)>a{text-align: right;} */
        
        &:nth-child(2)>ul{display: none;}
        float: left;
        width: 50%;
        /* border: 1px solid blue; */
        padding: 0 17px;
        box-sizing: border-box;
        li{&:nth-child(7){display: none;}}
        @media screen and (max-width:600px){
            padding: 0 11px;
          }//md
        >a{
          color: $tcolor2;
          display: inline-block;
          width: 100%;
          text-align: center;
          text-transform: uppercase;
          font-size: 16px;
          letter-spacing: 3px;
          /* border: 1px solid green; */
          transition: all 0.25s;
          text-align: left;
          @media screen and (max-width:600px){
            text-align: center;
            width: 100%;
          }//md
          &:hover{
            color: $tcolor6;
          }//gnb>ul>li>a:hover
          &.active{
            color: $tcolor4;
          }//gnb>ul>li>a.active
        }//gnb>ul>li>a
        >ul{
          /* border: 1px solid black; */
          margin-top: 40px;
          >li{
            >a{
              @media screen and (max-width:600px){
                padding: 7px 0;
              }
              /* border: 1px solid red; */
              position: relative;
              display: block;
              padding: 9px 0;
              font-size: 13px;
              color: $tcolor3;
              letter-spacing: 1px;
              transition: all 0.3s;
              &:hover{
                color: $tcolor4;
              }
              @media screen and (min-width:600.1px){
                &::before{
                  opacity: 0;
                  display: block;
                  @include abslt(0, 50%, 0, 0);
                  content: "";
                  width: 0;
                  height: 1px;
                  background-color: $tcolor4;
                }//gnb>ul>li>ul>li>a::before
                &:hover{
                  
                  padding-left: 17px;
                  &::before{
                    opacity: 1;
                    transition: all 0.3s;
                    display: block;
                    width: 13px;
                  }//gnb>ul>li>ul>li>a:hover::before
              }
              
              }//gnb>ul>li>ul>li>a:hover
            }//gnb>ul>li>ul>li>a
          }//gnb>ul>li>ul>li
        }//gnb>ul>li>ul
      }//gnb>ul>li
    }//gnb>ul

    .textwrap{
      /* border: 1px solid blue; */
      @include abslb(0, 90px, 0, 0);
      @media screen and (max-width:600px){
        @include abslb(0, 40px, 0, 0);
      }
      width: 100%;
      padding: 20px 57px;
      @media screen and (min-width:600.1px) and (max-width:1000px){
        padding: 20px 40px;
      }
      box-sizing: border-box;
      /* border: 1px solid red; */
      >input{
        display: inline-block;
        width: 100%;
        height: 60px;
        background-color: $color6;
        border-radius: 11px;
        border: 1px solid $color6;
        @media screen and (max-width:499px){
          display: none;
        }//md
      }//gnb>textwrap>input
      button{
        @include absrt(17%, 40px, 0, 0);
        /* border: 1px solid red; */
        font-size: 1.4em;
        @media screen and (max-width:499px){
          display: none;
        }//md
      }
      .textbox{
        /* border: 1px solid blue; */
        margin-top: 35px;
        @media screen and (max-width:600px){
          text-align: center;
        }//md
        h3{
          /* border: 1px solid green; */
          font-size: 15px;
          letter-spacing: 1.5px;
          span{
            font-size: 11px;
          }//gnb>textwrap>textbox>h3>span
        }//gnb>textwrap>textbox>h3
        p{
          margin-top: 23px;
          color: $tcolor3;
          font-size: 0.9em;
          letter-spacing: 1px;
          i{
            margin-top: 11px;
            display: block;
          }//gnb>textwrap>textbox>p>i
        }//gnb>textwrap>textbox>p
      }//gnb>textwrap>textbox
    }//gnb>textwrap
  }//gnb

}//header