@import "styleguide";

.visual1{
  position: relative;
  background-image: url(../img/index/visual_bg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  
  .img_box{
    position: relative;
    margin: 0 auto;
  }//img_box
  .textbox{
    display: flex;
    position: absolute;
    top: 50%; left: 50%;
    
    background: rgba($color2,0.8);
    text-align: center;
    color: white;

    margin-top: 100px;
    opacity: 0;
    transition: all 1s;
    &.active{
      margin-top: 0px;
      opacity: 1;
      transition-delay: 0.6s;
    }//active
    div{
      margin: auto;
      h3{
        @include h;
        font-weight: 500;
        letter-spacing: 0.2em;
        text-indent: 0.15em;
      }//h3
    }//div
  }//textbox

  h4{
    text-align: center;
    b{color: $color2; font-weight: bold;}
    &::after{
      content: "";
      display: block;
      max-width: 80px;
      height: 1px;
      background: #333;
      margin: 0 auto;
    }
  }//h4
  figure{
    position: relative;
    margin: 25px auto;
    max-width: 1500px;
    &::before{
      content:"";
      position: absolute;
      width:0%;
      height: 100%;
      top:0;left:0;
      background-image: url(../img/index/visual03.png);
      background-position: left center;
      background-size: cover;
      transition:width 2s;
    }//before
    &.active::before{width:100%;}
    img{
      width: 100%;
      opacity: 0;
      display: block;
    }//img
  }//figure
  @media screen and (min-width:1000px){
    padding: 100px 0;
    figure{
      width: 85%;
    }//figure
    .textbox{
      width: 300px;
      height: 300px;
      transform: translate(-50%,-90%);
      h3{
        font-size: 4.3em;
      }//h3
      p{
        font-size: 1.8em;
        font-weight: 500;
        margin-top: -25px;
      }//p
    }//textbox

    h4{
      font-size: 18px;
      line-height: 150%;
      margin-top: 70px;
      &::after{
        content: "";
        display: block;
        width: 35%;
        max-width: 80px;
        height: 1px;
        background: #333;
        margin: 0 auto;
        margin-top: 50px;
      }
    }
  }//lg
  @media screen and (max-width:1000px){
    padding: 30px 0;
    padding-bottom: 0;
    figure{
      width: 95%;
    }//figure
    .textbox{
      width: 150px;
      height: 150px;
      transform: translate(-50%,-60%);
      h3{
        font-size: 2em;
      }//h3
      p{
        font-size: 0.8em;
        font-weight: 500;
        margin-top: -5px;
      }//p
    }//textbox

    h4{
      font-size: 12px;
      line-height: 150%;
      margin-top: 35px;
      &::after{
        content: "";
        display: block;
        width: 20%;
        max-width: 80px;
        height: 1px;
        background: #333;
        margin: 0 auto;
        margin-top: 20px;
      }//after
    }//h4
  }//sm
}//visual1 ---------------------------------------------------------------------------------------------------------------------------------

.visual2{
  @include center(1200px);
  @include pd1(70px,35px);
  text-align: center;
  h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
  }//h3
  p{line-height: 180%;}
  h3, p{
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s;
    &.active{
      transform: translateY(0px);
      opacity: 1;
    }//active
  }//h3,p

  .imgbox{
    @include clearfix;
    margin: 0 auto;
    img{
      display: block;
      width: 33.33%;
      float: left;
      box-sizing: border-box;
      &:last-child{float: none;}
      transform: translateY(50px);
      opacity: 0;
      transition: all 1s;
      &:nth-child(3){transition-delay: 0.2s;}
      &:nth-child(1){transition-delay: 0.6s;}
      &.active{
        transform: translateY(0px);
        opacity: 1;
      }//active
    }//img
  }//imgbox

  @media screen and (min-width:1000px){
    padding-top: 0 !important;
    .imgbox{margin-top: 70px;}
    img{padding: 10px;}//img
  }//lg
  @media screen and (max-width:1000px){
    .imgbox{margin-top: 35px;}
    img{padding: 5px;}//img
  }//mb
}//visual2 ---------------------------------------------------------------------------------------------------------------------------------

.shortcut1{
  @include pd1(0,35px);
  width: 100%;
  background-image: url(../img/index/shortcut_img01.jpg);
  background-size: cover; /* 화면에 맞춰서 이미지를 맞춰줌 ,contain은 이미지를 화면에 딱 맞게 넣어줌 빈 공간은 norefit으로 반복을 막아주어야함*/
  background-position: center center;
  background-repeat: no-repeat;

  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  .textbox{
    @include center(1200px);
    h3{
      font-weight: bold;
    }
    p{line-height: 150%;}
    button{
      @include btn2($color2,15px,30px);
      font-weight: bold;
    }
  }//textbox 

  @media screen and (min-width:1000px){
    background-attachment: fixed; /* 배경 고정, 모바일에서는 적용 안됨 */
    height: 500px;
    h3{font-size: 30px;}
    p{
      margin: 30px 0; 
      font-size: 20px;
    }
    button{font-size: 1.2em;}
  }//lg
  @media screen and (max-width:1000px){
    height: 200px;
      h3{font-size: 20px;}
      p{
        margin: 20px 0; 
        font-size: 13px;
      }
  }//mb
}//shortcut1 ---------------------------------------------------------------------------------------------------------------------------------

.section1{
  overflow: hidden;
  @include center(1200px);
  @include pd1(70px,70px);
  h3{@include h; font-size: 20px; font-weight: bold; text-align: center; letter-spacing: 0.1em;}
  li{
    img{box-shadow: 8px 8px 5px rgba(0,0,0,0.2); display: block; width: 100%;}
    figure,div{
      opacity: 0;
      transition: all 1s;
    }//figure
    &:nth-child(odd) figure,{transform: translateX(-100px);}
    &:nth-child(even) figure,{transform: translateX(100px);}
    div{transform: translateY(100px); transition-delay: 0.2s;}
    figure.active, div.active{
      transform: translate(0px) !important;
      opacity: 1;
    }//active
  }//li
  h4{margin-bottom: 10px;}
  b{line-height: 120%;}
  p{line-height: 170%; margin-top: 15px;}
  @media screen and (min-width:1000px){
    figure{width: 68%;}
    div{width: 30%;}
    ul{
      li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 100px;
        &:nth-child(even){flex-direction: row-reverse;}
        &:first-child{margin-top: 40px;}
        h4{
          font-size: 20px;
          font-weight: 600;
        }//h4
        b{
          @include h;
          font-size: 30px;
          font-weight: 800;
        }//b
        p{font-size: 13px;}
      }//li
    }//ul
  }//lg
  @media screen and (max-width:1000px){
    figure{width: 100%;}
    li{
      margin-top: 70px;
      text-align: center;
      &:first-child{margin-top: 40px;
      }

      h4{
        margin-top: 30px;
        font-size: 15px;
        font-weight: 600;
      }//h4
      b{
        @include h;
        font-size: 20px;
        font-weight: 800;
      }//b
      p{font-size: 12px;}
    }//li
  }//mb
}//section1 ---------------------------------------------------------------------------------------------------------------------------------

.section2{
  @include pd1(70px,70px);
  overflow: hidden;
  width: 100%;
  background: #eee;
  h3{@include h;
    font-size: 20px;
    font-weight: bold;
    text-align: center; 
    letter-spacing: 0.1em;
  }
  p{text-align: center; margin-top: 15px;}
  .slider2{
    position: relative;
    @include center(1400px);
    padding: 0 30px;
    box-sizing: border-box;
    .img{overflow: hidden;}
    ul{
      @include clearfix;
      position: relative;
      li{
        float: left;
        width: 12.5%;
        padding: 30px 5px;
        box-sizing: border-box;
        img{
          display: block;
          width: 100%;
        }//img
        .textbox{
          text-align: center;
          background: white;
          padding: 30px 0;
          h4{font-size: 13px; font-weight: bold;}
          p{
            margin-bottom: 10px;
            text-decoration: line-through;
          }
          b{color: $tcolor1;}
        }//textbox
      }//li
      @media screen and (min-width:1000px){
        width: 200% !important;
      }//lg
      @media screen and (max-width:1000px){
        width: 800% !important;
      }//mb
    }//ul

    button{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 2.2em;
      &.prev{left: -20px;}
      &.next{right: -20px;}
    }
  }//slider2
}//section2 ---------------------------------------------------------------------------------------------------------------------------------

.section3{
  @include pd1(70px,40px);

  .imgbox2{
    position: relative;
    b{
      @include h;
      position: absolute;
      top: 20px;
      right: 40px;
      color: #222;
      font-size: 1.5em;
      font-weight: bold;

      @media screen and (max-width:1000px){
      top: 15px;
      right: 20px;
      font-size: 3.5vw;
      }//m
    }//b
  }//imgbox2
  
    .imgbox1-1{
      display: flex;
      width: 100%;
      color: #fff;
      margin: 0 auto;
      .textbox{
        background: $color2;
        b{
          display: block;
          font-weight: bold;
        }//b
      }//texbox
      img{
        display: block;
        width: 55%;
      }//img
    }//imgbox1-1

    .imgbox1-2{
      display: flex;
      width: 100%;
      margin-top: 15px;
      @media screen and (max-width:1000px){
        margin-bottom: 60px;
      }//mb

      .textbox{
        background: #eee;
        b{
          display: block;
          font-weight: bold;
        }//
        p{
          line-height: 180%;
          >i{
            font-size: 13px;
            display: block;
            &:first-child{font-weight: bold;}
          }
        }//p
      }//texbox
      img{
        display: block;
        width: 55%;
      }//img
    }//imgbox1-2

  @media screen and (min-width:1000px){
  
    .img_container{
      @include center(1200px);
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      .imgbox1{
        width: 49%;
        .textbox{
          width: 45%;
          padding: 40px 30px;
          .fas{
            font-size: 30px;
            margin-bottom: 10px;
          }//>i
          b{
            display: block;
            font-size: 13px;
            font-weight: bold;
            margin-bottom: 30px;
          }//
          p{
            line-height: 180%;
            >i{
              font-size: 13px;
              display: block;
              &:first-child{font-weight: bold;}
            }//i
          }//p
          b{
            font-size: 18px;
            margin-bottom: 15px;
          }//b
        }//textbox
      }//imgbox1
      .imgbox2{
        position: relative;
        overflow:hidden;
        width: 49%;
        img{min-width: 100%;min-height: 110%;position: absolute; transform: translateX(-15px);}
        .textbox{
          width: 45%;
          padding: 40px 30px;
        }//textbox
      }//imgbox2
    }//img_container


    .img_container2_mb{display: none;}
  }//lg
  @media screen and (max-width:1000px){
    .imgbox1{
      .textbox{
        width: 45%;
        padding: 20px 10px;
        .fas{
          display: none;
        }//>i
        b{
          display: block;
          font-size: 13px;
          font-weight: bold;
          margin-bottom: 30px;
        }//
        p{
          line-height: 160%;
          >i{
            font-size: 0.9em;
            display: block;
            &:first-child{font-weight: bold;}
          }
        }//p
        b{
          font-size: 15px;
          margin-bottom: 10px;
        }//b
      }//textbox
    }//imgbox1

    .imgbox2{
      margin-top: 30px;
      .textbox{
        width: 45%;
        padding: 20px 10px;
      }//textbox
      img{
        display: block;
        width: 100%;
      }//img
    }//imgbox2
  }//mb

  .section3-2{
    .img_container2{
      @include pd1(70px,40px);
      @include center(1400px);
      @include clearfix;
      div{position: relative;}
    }//img_container2

    h4{
      @include h;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 50px;
      font-size: 1.1em;
      font-weight: bold;
      color: #222;
    }//h4

    @media screen and (min-width:1000px){
      .img_container2{
      display: flex;
      justify-content: space-between;
      }
      .img_container2>div{
        width: 33.33%;
        margin-left: 30px;
        box-sizing: border-box;
        &:first-child{margin-left: 0;}
        img{
          display: block;
          width: 100%;
        }//img
      }//figure
      .img_container2_mb{display: none;}
    }//lg
    @media screen and (max-width:1000px){
      .img_container2_mb{
        position: relative;
        width: 95%;
        margin: 0 auto;
        margin-top: 20px;

        h3{
          @include h;
          font-size: 20px;
          text-align: center;
          font-weight: 800;
          color: #333;
          margin-bottom: 20px;
          letter-spacing: 0.1em;
        }//h3
        ul.img_container{
          position: relative;
          width: 300%;
          li{
            position: relative;
            width: 33.33%;
            float: left;
            img{
              display: block;
              width: 100%;
            }//img
          }//li
        }//ul.img_container

        ul.controls{
          position: absolute;
          text-align: center;
          li{
            display: inline-block;
            button{
              display: block;
              width: 7px; height: 7px; background: #fff;
              opacity: 0.5;
              transition: 0.5s;
              &.active{width: 10px; opacity: 1;}
            }//button
          }//li
        }//controls
      }//.img_container2_mb
      .img_container2{display: none;}
    }//mb

    //motion------------------------------------
    div{overflow: hidden;}
    img{
      transition: transform 0.5s;
      &:hover{transform: scale(1.05);}
    }//img
  }//ection3-2
}//section3 ---------------------------------------------------------------------------------------------------------------------------------

.section4{
  @include pd1(70px,60px);
  overflow: hidden;
  background: #eee;

  h3{@include h;
    font-size: 20px;
    font-weight: bold;
    text-align: center; 
    letter-spacing: 0.1em;
  }
  p{text-align: center; margin-top: 15px; line-height: 160%;}
  .img_box{
    position: relative;
    @include center(1200px);
    padding: 0 30px;
    box-sizing: border-box;
    .img{overflow: hidden;}
    ul{
      @include clearfix;
      position: relative;
      li{
        float: left;
        width: 25%;
        padding: 30px 5px;
        box-sizing: border-box;
        img{
          display: block;
          width: 100%;
        }//img
        .textbox{
          text-align: center;
          background: white;
          padding: 30px 0;
          h4{font-size: 13px; font-weight: bold;}
          p{
            margin-bottom: 10px;
            text-decoration: line-through;
          }//p
          b{color: $tcolor1;}
        }//textbox
      }//li
    }//ul
  }//img_box
  @media screen and (min-width:1000px){button{display: none;}}
  @media screen and (max-width:1000px){
    .img_box{
      margin: 0 auto;
      padding: 0 5px;
      width: 100%;
      ul{
        li{
          width: 50%;
          .textbox{
            h4{font-size: 1em;}
          }//textbox
          &:nth-child(2)~li{display: none;}
        }//li
      }//ul
      .img{
        button{
          @include btn2($tcolor4,10px,25px);
          display: block;
          margin: 10px auto;
          &::after{
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f105";
            transform: rotate(90deg);
            margin-left: 10px;
            transition: transform 0.5s;
          }//:after
          &.active::after{transform: rotate(270deg);}
        }//button
      }//img
    }//img_box
  }//mb
}//section4 ---------------------------------------------------------------------------------------------------------------------------------

.section5{
  @include pd1(70px,0px);

  @media screen and (min-width:1000px){
    @include center(1200px);
  }

  box-sizing: border-box;
  >div{
    .img1{
      position: relative;
      margin: 0 auto;
      width: 100%;
      img{
        display: block;
        width: 100%;
      }//img
      .text{
        display: flex;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 30%;
        text-align: right;
        h3{
          @include h;
          font-weight: bold;
        }//h3
        p{
          line-height: 140%;
          font-weight: bold;
          span{font-weight: 300;}
        }//p

        @media screen and (min-width:1000px){
          right: 50px;
          h3{font-size: 30px;}//h3
          p{font-size: 13px; margin: 10px 0;}//p
        }//l
        @media screen and (max-width:1000px){
          right: 20px;
          h3{font-size: 15px;}
          p{font-size: 0.9em;}//p
          span{display: none;}
        }//m
      }//.textbox
    }//.img1
    .img2{
      position: relative;
      margin-top: 30px;
      img{
        display: block;
        width: 100%;
      }//img
      .text{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 40%;
        height: 100%;
        text-align: right;
        background: $color2;
        color: white;
        div{
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          i{
            font-size: 30px; margin-bottom: 10px;
            @media screen and (max-width:1000px){
              display: none;
            }//m
          }//i
          p{
            letter-spacing: 1px;
            line-height: 140%;
            font-weight: bold;
            span{font-weight: 300;}
          }//p
        }//div
        @media screen and (min-width:1000px){
          div{
            right: 50px;
            p{
              font-size: 13px;
            }
          }//div
        }//lg
        @media screen and (max-width:1000px){
          div{
            right: 10px;
            p{
              font-size: 0.8em;
            }
          }//div
        }//mb
      }//text
    }//img2
  }//>div
}//section5 ---------------------------------------------------------------------------------------------------------------------------------

.section6{
  @include pd1(40px,40px);
  @include center(1400px);
  padding-bottom: 70px !important;
  border-top: 1px solid #ccc;
  .grid_container{
    overflow: hidden;
    position: relative;
    .img_container{
      @include clearfix;
      position: relative;
      width: 100%;
      margin: 0 auto;
      li{
        float: left;
        padding: 3px;
        box-sizing: border-box;
        width: 12.5%;
        img{
          display: block;
          width: 100%;
        }//img
      }//li
    }//img_container
  }//grid_container

  @media screen and (min-width:1000px){
    .slider4{display: none;}
  }//lg

  .slider4{
    overflow: hidden;
    padding: 0 30px;
    position: relative;
    border-top: 1px solid #ccc;
    >div{
      overflow: hidden;
      margin-top: 30px;
      .img_container{
        @include clearfix;
        position: relative;
        width: 200%;
        box-sizing: border-box;
        li{
          float: left;
          padding: 3px;
          box-sizing: border-box;
          width: 16.66%;
          img{
            display: block;
            width: 100%;
            margin-top: 6px;
          }//img
        }//li
      }//img_container
    }//>div

    button{
      position: absolute;
      top: 50%;
      transform: translateY(-10%);
      font-size: 2.2em;
      &.prev{left: -20px;}
      &.next{right: -20px;}
    }
  }//slider4

  @media screen and (max-width:1000px){
    .grid_container{display: none;}
  }//mb
}//section6 ---------------------------------------------------------------------------------------------------------------------------------