/* main color */
/* text color */
/* @include pd1(130px, 60px); */
.loginbox {
  width: 95%;
  max-width: 430px;
  margin: 0 auto;
  margin-bottom: 300px; }
  @media screen and (min-width: 1000.1px) {
    .loginbox {
      padding: 20px 0; } }
  @media screen and (max-width: 1000px) {
    .loginbox {
      padding: 20px 0; } }
  .loginbox > h2 {
    font-family: 'Hind Guntur', sans-serif;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    margin-bottom: 60px; }
  .loginbox form {
    font-size: 11px; }
    .loginbox form p {
      width: 100%;
      margin: 11px 0; }
      .loginbox form p:nth-child(4) {
        padding: 13px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
        .loginbox form p:nth-child(4) input {
          margin-right: 3px; }
        .loginbox form p:nth-child(4) span {
          margin-right: 10px; }
        .loginbox form p:nth-child(4) > a {
          float: right; }
        @media screen and (max-width: 600px) {
          .loginbox form p:nth-child(4) {
            display: none; } }
      .loginbox form p input[type="text"], .loginbox form p input[type="password"] {
        width: 100%;
        padding: 13px;
        background-color: #f5f5f5;
        border: 1px solid #f5f5f5;
        border-radius: 7px; }
        .loginbox form p input[type="text"]::-webkit-input-placeholder, .loginbox form p input[type="password"]::-webkit-input-placeholder {
          color: #b9b9b9; }
        .loginbox form p input[type="text"]:-ms-input-placeholder, .loginbox form p input[type="password"]:-ms-input-placeholder {
          color: #b9b9b9; }
        .loginbox form p input[type="text"]::-ms-input-placeholder, .loginbox form p input[type="password"]::-ms-input-placeholder {
          color: #b9b9b9; }
        .loginbox form p input[type="text"]::placeholder, .loginbox form p input[type="password"]::placeholder {
          color: #b9b9b9; }
      .loginbox form p .btn_login, .loginbox form p .btn_join {
        display: block;
        width: 100%;
        text-align: center;
        border-radius: 7px !important;
        letter-spacing: 2px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box; }
      .loginbox form p .btn_login {
        display: inline-block;
        padding: 13px 13px;
        background-color: #dab799;
        border: 1px solid #dab799;
        border-radius: 2px;
        color: white;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
        .loginbox form p .btn_login:hover {
          background-color: white;
          border: 1px solid #dab799;
          color: #dab799; }
      .loginbox form p .btn_join {
        display: inline-block;
        padding: 13px 13px;
        background-color: #FFF;
        border: 1px solid #dab799;
        border-radius: 2px;
        color: #dab799;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        margin-top: 11px; }
        .loginbox form p .btn_join:hover {
          background-color: #dab799;
          border: 1px solid #dab799;
          color: #FFF; }
      .loginbox form p:last-child {
        margin-top: 15px;
        margin-bottom: 100px; }
        .loginbox form p:last-child > button {
          padding: 13px 0 !important;
          text-align: center;
          border-radius: 7px !important;
          float: left;
          display: block;
          width: 32%;
          margin-left: 2%; }
          .loginbox form p:last-child > button.btn_kakao {
            display: inline-block;
            padding: 3px 12px;
            background-color: #fbe330;
            border: 1px solid #fbe330;
            border-radius: 2px;
            color: white;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            margin-left: 0;
            color: #8a7c7c !important; }
            .loginbox form p:last-child > button.btn_kakao:hover {
              background-color: white;
              border: 1px solid #fbe330;
              color: #fbe330; }
          .loginbox form p:last-child > button.btn_naver {
            display: inline-block;
            padding: 3px 12px;
            background-color: #00c73c;
            border: 1px solid #00c73c;
            border-radius: 2px;
            color: white;
            -webkit-transition: all 0.3s;
            transition: all 0.3s; }
            .loginbox form p:last-child > button.btn_naver:hover {
              background-color: white;
              border: 1px solid #00c73c;
              color: #00c73c; }
          .loginbox form p:last-child > button.btn_facebook {
            display: inline-block;
            padding: 3px 12px;
            background-color: #3b5998;
            border: 1px solid #3b5998;
            border-radius: 2px;
            color: white;
            -webkit-transition: all 0.3s;
            transition: all 0.3s; }
            .loginbox form p:last-child > button.btn_facebook:hover {
              background-color: white;
              border: 1px solid #3b5998;
              color: #3b5998; }
  .loginbox input {
    outline: none; }

/*# sourceMappingURL=login.css.map */