@import "styleguide";
/* @include pd1(130px, 60px); */

.loginbox{
  @include center(430px);
  @include pd1(20px, 20px);
  margin-bottom: 300px;
  >h2{
    @include h;
        text-align: center;
        font-size: 22px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 600;
        margin-bottom: 60px;
  }//section.loginbox>h2
  form{
    font-size: 11px;
    p{
      width: 100%;
      margin: 11px 0;
      &:nth-child(4){
        padding: 13px;
        input{margin-right: 3px;}
        span{margin-right: 10px;}
        >a{float: right;}
        box-sizing: border-box;
        @media screen and (max-width:600px){
          display: none;
        }//sm
      }//form>p:nth-child(4)
      input[type="text"],input[type="password"]{
        width: 100%;
        padding: 13px;
        background-color: $color5;
        border: 1px solid $color5;
        border-radius: 7px;
        &::placeholder{color: $tcolor3;}
      }//section.loginbox>form>p>input[text, password]
      .btn_login, .btn_join{
        display: block;
        width: 100%;
        text-align: center;
        border-radius: 7px !important;
        letter-spacing: 2px;
        box-sizing: border-box;
      }//section.loginbox>form>p>btn_login, btn_join
      .btn_login{
        @include btn2($color3, 13px, 13px);
      }
      .btn_join{
        @include btn3($color3, 13px, 13px);
        margin-top: 11px;
      }
      &:last-child{
        margin-top: 15px;
        margin-bottom: 100px;
        >button{
          padding: 13px 0 !important;
          text-align: center;
          border-radius: 7px !important;
          float: left;
          display: block;
          width: 32%;
          margin-left: 2%;
          &.btn_kakao{
            @include btn1(#fbe330);
            margin-left: 0;
            color: $tcolor5 !important;
          }
          &.btn_naver{
            @include btn1(#00c73c);
          }
          &.btn_facebook{
            @include btn1(#3b5998);
          }
        }//section.loginbox>form>p:last-child>button *
      }//section.loginbox>form>p:last-child
    }//section.loginbox>form>p
  }//section.loginbox>form
  input{
    outline: none;
  }
}//section.loginbox