/* main color */
$color1:#f39f3c;
$color2:#2d334f;
$color3:#dab799;
$color4: #fefdfe;
$color5: #f5f5f5;
$color6: #f9f9f9;
/* text color */
$tcolor1: #c46060;
$tcolor2: #dadada;
$tcolor3: #b9b9b9;
$tcolor4: #747474;
$tcolor5: #8a7c7c;
$tcolor6: #bababa;






@mixin body{
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 12px;
  color: #666;
  font-weight: normal;
  font-style: normal;
  font-style: normal;
  text-decoration: none;
}
@mixin h{ //h2~h3계열
  font-family: 'Hind Guntur', sans-serif;
}
@mixin en{
  font-family: 'Overpass', sans-serif;
}
@mixin center($maxwidth){ //max-width: 1400, 1500, 1600
  width: 95%;
  max-width: $maxwidth;
  margin: 0 auto;
}
@mixin btn1($btnc){ //기본 세팅
  display: inline-block;
  padding: 3px 12px;
  background-color: $btnc;
  border: 1px solid $btnc;
  border-radius: 2px;
  color: white;
  transition: all 0.3s;
  &:hover{
    background-color: white;
    border: 1px solid $btnc;
    color: $btnc;
  }
}
@mixin btn2($btnc, $pd1, $pd2){ //기본 세팅에 패딩 상하, 좌우 조절
  display: inline-block;
  padding: $pd1 $pd2;
  background-color: $btnc;
  border: 1px solid $btnc;
  border-radius: 2px;
  color: white;
  transition: all 0.3s;
  &:hover{
    background-color: white;
    border: 1px solid $btnc;
    color: $btnc;
  }
}
@mixin btn3($btnc, $pd1, $pd2){ //기본 세팅에 background 화이트
  display: inline-block;
  padding: $pd1 $pd2;
  background-color: #FFF;
  border: 1px solid $btnc;
  border-radius: 2px;
  color: $btnc;
  transition: all 0.3s;
  &:hover{
    background-color: $btnc;
    border: 1px solid $btnc;
    color: #FFF;
  }
}
@mixin icon($pos, $code){
  &::#{$pos}{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: $code;
  }
}
@mixin abslt($left, $top, $tl, $tr){
  position: absolute;
  left: $left;
  top: $top;
  transform: translate($tl, $tr);
}
@mixin absrt($right, $top, $tl, $tr){
  position: absolute;
  right: $right;
  top: $top;
  transform: translate($tl, $tr);
}
@mixin abslb($left, $bottom, $tl, $tr){
  position: absolute;
  left: $left;
  bottom: $bottom;
  transform: translate($tl, $tr);
}
@mixin absrb($right, $bottom, $tl, $tr){
  position: absolute;
  right: $right;
  bottom: $bottom;
  transform: translate($tl, $tr);
}
@mixin clearfix{
  &::after{
    content: "";
    clear: both;
    display: block;
  }
}
@mixin pd1($lgpd, $smpd){ //상하패딩
  @media screen and (min-width:1000.1px){
    padding: $lgpd 0;
  }
  @media screen and (max-width:1000px){
    padding: $smpd 0;
  }
}
@mixin pd2($lgpd, $smpd){ //좌우패딩
  @media screen and (min-width:1000.1px){
    padding: 0 $lgpd;
  }
  @media screen and (max-width:1000px){
    padding: 0 $smpd;
  }
}