/* main color */
/* text color */
.bedroom {
  position: relative;
  /* lg */
  /* sm */
  /* sm */ }
  @media screen and (min-width: 501px) {
    .bedroom .btn_cate_sm {
      display: none; } }
  @media screen and (max-width: 501px) {
    .bedroom .btn_cate_lg {
      display: none; } }
  .bedroom .btn_cate {
    text-align: center;
    /* lg */
    /* md */
    /* sm */ }
    @media screen and (min-width: 1000px) {
      .bedroom .btn_cate button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #dab799;
        border: 1px solid #dab799;
        border-radius: 2px;
        color: white;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        margin: 0 5px;
        margin-top: 30px;
        border-radius: 10px; }
        .bedroom .btn_cate button:hover {
          background-color: white;
          border: 1px solid #dab799;
          color: #dab799; } }
    @media screen and (min-width: 501px) and (max-width: 1000px) {
      .bedroom .btn_cate button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #dab799;
        border: 1px solid #dab799;
        border-radius: 2px;
        color: white;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        margin: 0 5px;
        margin-top: 30px;
        border-radius: 10px; }
        .bedroom .btn_cate button:hover {
          background-color: white;
          border: 1px solid #dab799;
          color: #dab799; } }
    @media screen and (max-width: 501px) {
      .bedroom .btn_cate div {
        display: none; }
      .bedroom .btn_cate button {
        /* display: none; */
        width: 100%;
        height: 30px;
        line-height: 3px;
        background: #fff;
        padding: 20px 0;
        border-bottom: 1px solid #dab799; }
        .bedroom .btn_cate button:first-child {
          display: block; } }
  .bedroom .btn_bedsize {
    position: absolute;
    display: none;
    /* lg */
    /* md */
    /* sm */ }
    @media screen and (min-width: 1000px) {
      .bedroom .btn_bedsize {
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); }
        .bedroom .btn_bedsize button {
          display: inline-block;
          padding: 10px 20px;
          background-color: #dab799;
          border: 1px solid #dab799;
          border-radius: 2px;
          color: white;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
          margin: 0 5px;
          margin-top: 30px;
          border-radius: 10px; }
          .bedroom .btn_bedsize button:hover {
            background-color: white;
            border: 1px solid #dab799;
            color: #dab799; } }
    @media screen and (min-width: 500px) and (max-width: 1000px) {
      .bedroom .btn_bedsize {
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); }
        .bedroom .btn_bedsize button {
          display: inline-block;
          padding: 10px 20px;
          background-color: #dab799;
          border: 1px solid #dab799;
          border-radius: 2px;
          color: white;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
          margin: 0 5px;
          margin-top: 30px;
          border-radius: 10px; }
          .bedroom .btn_bedsize button:hover {
            background-color: white;
            border: 1px solid #dab799;
            color: #dab799; } }
    @media screen and (max-width: 500px) {
      .bedroom .btn_bedsize {
        width: 100%;
        margin-top: -10px; }
        .bedroom .btn_bedsize button {
          display: inline-block;
          padding: 10px 20px;
          background-color: #dab799;
          border: 1px solid #dab799;
          border-radius: 2px;
          color: white;
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
          margin: 0 5px;
          margin-top: 30px;
          border-radius: 10px;
          width: 20.85%; }
          .bedroom .btn_bedsize button:hover {
            background-color: white;
            border: 1px solid #dab799;
            color: #dab799; } }
  @media screen and (min-width: 1000.1px) {
    .bedroom ul {
      padding: 90px 0; } }
  @media screen and (max-width: 1000px) {
    .bedroom ul {
      padding: 50px 0; } }
  @media screen and (min-width: 1000.1px) {
    .bedroom ul {
      padding-top: 0;
      margin-top: 90px; } }
  @media screen and (max-width: 1000px) {
    .bedroom ul {
      padding-top: 0;
      margin-top: 80px; } }
  .bedroom ul::after {
    content: "";
    clear: both;
    display: block; }
  .bedroom ul li {
    /* position: relative; */
    float: left; }
    .bedroom ul li a {
      overflow: hidden;
      display: block; }
      .bedroom ul li a img {
        display: block;
        width: 100%;
        -webkit-transition: -webkit-transform 0.3s;
        transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
        transition: transform 0.3s, -webkit-transform 0.3s; }
        .bedroom ul li a img:hover {
          -webkit-transform: scale(1.2);
                  transform: scale(1.2); }
    .bedroom ul li .textbox {
      /* box-sizing: border-box; */
      padding: 20px 0;
      text-align: center; }
      .bedroom ul li .textbox h3 {
        /* font-size: 16px; */
        /* padding: 2% 0; */ }
      .bedroom ul li .textbox p {
        font-size: 11px;
        /* padding: 10px 0; */ }
        .bedroom ul li .textbox p.price {
          text-decoration: line-through; }
        .bedroom ul li .textbox p.sale {
          color: #c46060; }
  @media screen and (min-width: 1100px) {
    .bedroom li {
      width: 33%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 10px; }
      .bedroom li.mtop {
        margin-top: 130px; }
      .bedroom li .textbox {
        width: 100%; }
        .bedroom li .textbox h3 {
          font-size: 16px;
          padding: 10px 0; }
        .bedroom li .textbox p {
          padding: 7px 0; } }
  @media screen and (min-width: 700px) and (max-width: 1100px) {
    .bedroom li {
      width: 49.5%;
      padding: 10px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .bedroom li .textbox h3 {
        font-size: 16px;
        padding: 10px 0; }
      .bedroom li .textbox p {
        padding: 7px 0; } }
  @media screen and (max-width: 700px) {
    .bedroom li {
      width: 100%; }
      .bedroom li .textbox h3 {
        font-size: 16px;
        padding: 10px 0; }
      .bedroom li .textbox p {
        padding: 7px 0; } }

/*# sourceMappingURL=sub1-4.css.map */