@import "styleguide";

.ipmt{
   position: relative;
  background: $color6;
  padding: 20px;
  box-sizing: border-box;
  height: 70px;
  width: 100%;
  a{
    line-height: 35px;
  }
  p{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.section2-4{
  box-sizing: border-box;
  ul{
     display: flex;
     flex-wrap: wrap;
     .imgbox{
      border: 1px solid #ccc;
      box-sizing: border-box;
      .textbox{
         text-align: center;
         padding: 20px 10px;
         border-top: 1px solid #ccc;
         box-sizing: border-box;
      }
    li{
      h3{text-align: center;margin-top: 10px;}
      p{text-align: center;margin-top: 10px;}
      
    }//li
   }//div
  }//ul
}//section2-4
@media screen and (min-width:800px){
    .section2-4 ul{padding: 40px 50px;
      li{
      width: 33.33%;
      padding: 10px;
      box-sizing: border-box;
      img{
        display: block;
        width: 100%;
    }//img
  }//li
}
}//lg
@media screen and (max-width:800px){
   /* .date{display: none;} */
  .section2-4 ul li{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    img{
      display: block;
      width: 100%;
  }//img
}//li
}

