@import "styleguide";

.board table{
  width: 100%;
}
.board th{
  background: $color6;
}
.board td ,.board th{ 
  padding: 15px;
  text-align: center;
}
.board tr td:nth-child(2){text-align: left;}
.board th:first-child{
  text-align: left;
}
.board tr{
  border-bottom: 1px solid $color6;
}
@media screen and (min-width:700px){
   .sm_tr{display: none;}
}
@media screen and (max-width:700px){
   .lg_tr{display: none;}
   .sm_board{
   tr th:nth-child(5){display: none;}
   tr th:nth-child(4){display: none;}
   tr th:nth-child(3){width: 19%;}
   tr td:nth-child(5){display: none;}
   tr td:nth-child(4){display: none;}
}
}