@import "style.scss";

section.work{
  position: relative;
  width:100%;
  height:100%;

  #particles-js{
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    left: 0; top: 0;
    pointer-events: none;
  }//#particles-js

  div.work_intro{
    position: relative;
    height: 100%;    
    box-sizing: border-box;
    font-size: 0;
    float: left;
    border:1px solid rgba(#a5a5a5,0.3);
    border-left: none;
    span{font-size: 15px;}
    .text_ani{
      position: absolute;
      font-size: 0;
      background-size: contain;
      background-repeat: repeat-y;
      animation: text_ani_d 50000s linear infinite;
      @media screen and (min-width: 1000px){
        width: 106px; height: 80%;
        left: 5%; top: 10%;
        &.text_ani_d{background-image: url(../img/work/text_ani2.png);}
        &.text_ani_m{display: none;}
      }//large
      @media screen and (max-width: 1000px){
        width: 53px; height: 70%;
        left: 2%; top: 15%;
        &.text_ani_m{background-image: url(../img/work/text_ani3.png);}
        &.text_ani_d{display: none;}
      }//small
    }//text_ani
    .frontbox{
      display: none;
      z-index: 102;
      padding-top: 80px;
      @include posabslt(57%,50%,-50%,-50%);
      position: absolute;
      height: 45px;
      border-radius: 5px;
      background-position: center center;
      background-image: url(../img/work/wk_4.jpg);
      transition: height 0.5s, width 0.5s;
      &:hover{
        height: 70px;
      }//large
      @media screen and (min-width: 1250px){
        width: 54%;
      }//medium
      @media screen and (max-width: 1250px){
        width: 45%;
      }//small
    }//boxbox
    .text_inf{
      position: absolute;
      top: 12%; right: 2%;
      width: 85%;
      text-align: right;
      font-size: 16px;
      color: #ddd;
      @media screen and (min-width: 600px) and (max-width: 1000px){
        top: 12%;
      }//small
      @media screen and (max-width: 600px){
        top: 15%;
      }//small
    }//text_inf
    .work_scroll a{
      z-index: 101;
      display: inline-block;
      position: absolute;
      right: 5%; top: 50%;
      font-size: 14px;
      transform: translate(0,-50%) rotate(-90deg);
      color: #eee;
      letter-spacing: 0.3em;
      text-decoration: none;
      span{
        position: absolute;
        width: 24px; height: 24px;
        left: 50%; bottom: 0;
        margin-left: -12px;
        border-left: 1px solid #eee;
        border-bottom: 1px solid #eee;
        transform: rotateZ(-45deg);
        animation: scroll_motion 1.5s infinite;
        box-sizing: border-box;
        transition: border-left 0.5s, border-bottom 0.5s;
      }//span
    }//work_scroll a
    @media screen and (min-width: 1000px){
      width: 50%;
    }//large
    @media screen and (min-width: 600px) and (max-width: 1000px){
      width: 50%;
    }//medium
    @media screen and (max-width: 600px){
      width: 100%;
    }//small
  }//work_intro

  ul.container{
    position: absolute;
    width:100%;
    height: 100%;
    /* box-sizing: border-box; */
    white-space: nowrap;
    float: right;
    font-size: 0; //절대 지우지 말것
    @media screen and (min-width: 1000px){
      padding-left: 50%;
    }//large
    @media screen and (min-width: 600px) and (max-width: 1000px){
      padding-left: 50%;
    }//medium
    @media screen and (max-width: 600px){
      padding-left: 100%;
    }//small
    li.dummy{
      height: 100%;
      box-sizing: border-box;
      display: inline-block;
      padding: 0 15px;
      border: 1px solid rgba(#a5a5a5,0.3);
      border-left: none;
      .inner_box{
        position: relative;
        width: 100%; height: 100%;
        .img1{
          position: absolute;
          height: 55%;
          top: 15%;
          background-image: url(../img/work/work_end2_1.jpg);
          background-repeat: no-repeat;
          background-position: center center;
          @media screen and (min-width: 1000px){
            width: 70%;
            left: 7.5%;
          }//large
          @media screen and (min-width: 600px) and (max-width: 1000px){
            width: 90%;
            left: 2.5%;
          }//medium
          @media screen and (max-width: 600px){
            width: 90%;
            left: 5%; 
          }//small
        }//img1
        p.text1{
          @include en5;
          position:absolute;
          right: 15%; top: 70%;
          color: #fff;
          @media screen and (min-width: 1000px){
            font-size: 65px;
          }//large
          @media screen and (min-width: 600px) and (max-width: 1000px){
            font-size: 6.5vw;
          }//medium
          @media screen and (max-width: 600px){
            font-size: 10vw;
          }//small
          span{
            &.wk_span1{display: block;}
            &.wk_span2{margin-left: 20%;}
            &.wk_span2, &.wk_span3{display: inline-block;}
            b{
              display: inline-block;
              transform: scale(1);
              transition: opacity 0.5s, transform 0.5s;
              opacity: 1;
              &.actived{animation: text_motion 0.4s;}
            }//b
          }//span
        }//p.text1
        p.text2{
          position: absolute;
          left: 10%; bottom: 5%;
          font-size: 15px;
          color: #ddd;
          @media screen and (max-width: 600px){
            /* font-size: 9px; */
          }//small
          span{
            display: block;
          }//span
        }//p.text2
      }//inner_box
      div.imgbox{position:absolute;}
        @media screen and (min-width: 1000px){
          &.dummy1{
            width: calc(50%) !important;
            .imgbox{display: none;}
          }
          &.dummy2{display: none;}
        }//large
        @media screen and (min-width: 600px) and (max-width: 1000px){
          width: 50% !important;
          &.dummy2{
            display: none;
          }
        }//medium
        @media screen and (max-width: 600px){
          width: 100% !important;
          &.dummy2{
            display: none;
          }
        }//small
    }//li.dummy
    li.box{
      font-size: 15px;
      display: inline-block;
      height: 100%;
      box-sizing: border-box;
      padding: 0 15px;
      padding-top: 80px;
      border:1px solid rgba(#a5a5a5,0.3);
      border-left: none;
        @media screen and (min-width: 1000px){
          width:25%;
        }//large
        @media screen and (min-width: 600px) and (max-width: 1000px){
          width:50% !important;
        }//medium
        @media screen and (max-width: 600px){
          width:100% !important;
        }//small

      .inner_box{
        position: relative;
        width: 100%; height: 100%;
        p.ex{
          position: absolute;
          right: 0; top: 3%;
          max-width: 330px;
          text-align: right;
          opacity: 1;
          b.num{
            @include en5;
            display: block;
            font-weight: 400;
            text-align: right;
            color: #fff;
            /* color: rgba(0, 0, 0, 0.3); */
            @media screen and (min-width: 1000px){
              font-size: 4vw;
            }//large
            @media screen and (min-width: 600px) and (max-width: 1000px){
              font-size: 60px;
            }//medium
            @media screen and (max-width: 600px){
              font-size: 60px;
            }//small
          }//b.num
          span{
            white-space: normal;
            line-height: 130%;
            font-size: 1.2em;
            color: #ccc;
            @media screen and (max-width: 600px){
              display: none;
            }//small
          }//span
        }//p.ex
        h3{
          position: absolute;
          right: 0; top: 35%;
          font-size: 2.3em;
          color: #ebcdbf;
          @media screen and (max-width: 600px){
            top: 30%;
          }//small
        }//h3
        p.teg{
          position: absolute;
          right: 0; top: 52%;
          white-space: normal;
          text-align: right;
          letter-spacing: 1px;
          color: #ccc;
          span{
            display: inline-block;
          }//spann
          @media screen and (min-width: 1000px){
            font-size: 1em;
          }//large
          @media screen and (max-width: 1000px){
            font-size: 1em;
          }//small
          @media screen and (max-width: 600px){
            top: 43%;
            font-size: 0.85em;
          }//small
        }//p.teg
        >a{
          z-index: 1;
          display: block;
          position: absolute;
          width: 60px; height: 25px;
          right: 0; top: 47%;
          text-align: center;
          line-height: 25px;
          border-radius: 3px;
          letter-spacing: 0.5px;
          font-size: 0.8em;
          transition: color 0.3s, background-color 0.3s;
          @media screen and (max-width: 600px){
            height: 20px;
            top: 38%;
            line-height: 20px;
          }//small
          &.port_btn1{
            background-color: #11223e;
            border: 1px solid #11223e;
            color: white;
            &:hover{
              background-color: transparent;
              border: 1px solid #11223e;
              color: #11223e;
            }
          }
          &.port_btn2{
            background-color: #b2b1af;
            border: 1px solid #b2b1af;
            color: white;
            &:hover{
              background-color: transparent;
              border: 1px solid #b2b1af;
              color: #b2b1af;
            }
          }
          &.port_btn3{
            background-color: #c0bdb8;
            border: 1px solid #c0bdb8;
            color: white;
            &:hover{
              background-color: transparent;
              border: 1px solid #c0bdb8;
              color: #c0bdb8;
            }
          }
          &.port_btn4{
            background-color: #643a8b;
            border: 1px solid #643a8b;
            color: white;
            &:hover{
              background-color: transparent;
              border: 1px solid #643a8b;
              color: #643a8b;
            }
          }
          &.port_btn5{
            background-color: #f13e1e;
            border: 1px solid #f13e1e;
            color: white;
            &:hover{
              background-color: transparent;
              border: 1px solid #f13e1e;
              color: #f13e1e;
            }
          }
          &.port_btn6{
            background-color: #31d0cb;
            border: 1px solid #31d0cb;
            color: white;
            &:hover{
              background-color: transparent;
              border: 1px solid #31d0cb;
              color: #31d0cb;
            }
          }
          &.port_btn7{
            background-color: #4f4f4f;
            border: 1px solid #4f4f4f;
            color: white;
            &:hover{
              background-color: transparent;
              border: 1px solid #4f4f4f;
              color: #4f4f4f;
            }
          }
          &.port_btn8{
            background-color: #3c4500;
            border: 1px solid #3c4500;
            color: white;
            &:hover{
              background-color: transparent;
              border: 1px solid #3c4500;
              color: #3c4500;
            }
          }
          &.port_btn9{
            background-color: #71d2e2;
            border: 1px solid #71d2e2;
            color: white;
            &:hover{
              background-color: transparent;
              border: 1px solid #71d2e2;
              color: #71d2e2;
            }
          }
        }//>a
        div.imgbox{
          overflow: hidden;
          position: absolute;
          width: 100%; height: 42%;
          left: 0; bottom: 15px;
          opacity: 0.9;
          filter: grayscale(0.5);
          transition: opacity 0.3s;
          &:hover{
            opacity: 1;
            filter: grayscale(0);
          }//:hover
          @media screen and (max-width: 600px) {
            height: 50%;
          }//small
          figure{
            position: relative;
            display: block;
            width: 100%; height: 230px;
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
            transition: opacity 0.3s;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            @media screen and (max-width: 600px) {
              height: 170px !important;
            }//small
            &.img1{background-image: url(../img/work/01_essom.jpg);}
            &.img2{background-image: url(../img/work/03_ebonia.jpg);}
            &.img3{background-image: url(../img/work/04_laka.jpg);}
            &.img4{background-image: url(../img/work/05_eldertree.jpg);}
            &.img5{background-image: url(../img/work/06_7ds.jpg);}
            &.img6{background-image: url(../img/work/07_brandiz.jpg);}
            &.img7{background-image: url(../img/work/08_yami.jpg);}
            &.img8{background-image: url(../img/work/09_onepixel.jpg);}
            &.img9{background-image: url(../img/work/10_onepage.jpg);}
          }//figure
          p.ex_txt{
            font-size: 1.15em;
            white-space: normal;
            margin-top: 20px;
            line-height: 130%;
            color: #ddd;
            @media screen and (max-width: 600px){
              margin-top: 10px;
              opacity: 1 !important;
              font-size: 1em;
              line-height: 120%;
            }
          }//p.ex_txt
        }//div.imgbox
      }//inner_box
    }//li
  }//ul
}//work


@media screen and (min-width: 1000px){

}//large
@media screen and (max-width: 1000px){

}//small

@keyframes text_move{0%{transform:translateZ(0)}to{transform:translate3d(-100%,0,0)}}

@keyframes text_ani_d {
  0%{
    background-position: 0 0;
  }
  100%{
    background-position: 0 5000000px; 
  }
}

@keyframes scroll_motion {
  0% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  50% {
  }
  100% {
    transform: rotate(-45deg) translate(-30px, 30px);
  }
}

@media screen and (min-width: 1000px){
  @keyframes text_motion{
    0%{
      transform: translateY(0px);
    }
    50%{
      transform: translateY(-15px);
    }
    100%{
      transform: translateY(0px);
    }
  }
}/* large */
@media screen and (max-width: 1000px){
  @keyframes text_motion{
    0%{
      transform: translateY(0px);
    }
    50%{
      transform: translateY(-10px);
    }
    100%{
      transform: translateY(0px);
    }
  }
}/* small */